<h1>Journal: {{journal.name}}</h1>

<h2>Where it happened: </h2>
<p>{{journal.location}}</p>

<h3>Memories:</h3>
<p>{{journal.text}}</p>

<h2>Update your stuff:</h2>

{{ flash }}

<form action="/journals/{{journal.id}}?_method=PUT" method="post">
  <div class="form-group">
    <label>Title:
      <input type="text" name="update[name]" placeholder="Journal Name">
    </label>

    <br>
    <label>Location:
      <input type="text" name="update[location]" placeholder="Location">
    </label>

    <br>
    <label>Text:
      <textarea type="text" name="update[text]" placeholder="Your text">
      </textarea>
    </label>
    <br>
    <button>Update</button>
  </div>

</form>

<form action="/journals/{{journal.id}}?_method=delete" method="post">
  <button>Delete</button> <= It's Irreversible!!
</form>

<div id='map2'></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&language=en&callback=initMap">
</script>
